.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px 10px;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-title {
  width: calc(50% - 5px);
  color: var(--primary-text-color);
}

.header-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-grow: 1;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header-links-link a,
.theme-toggle {
  transition: 0.1s ease-in-out;
  color: var(--primary-text-color);
  opacity: 0.5;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.header-links-link a:hover,
.theme-toggle:hover {
  opacity: 1;
}

.current-page {
  opacity: 1 !important;
}
